body {
    margin: 2px;
    padding: 2px;
}
header {
    display: flex;
    p {
        font-weight: bold;
        text-decoration: none;
    }
    h2 {
        display: flex;
    }
}
.test {
	display: flex;
	flex-wrap: wrap;
}